﻿
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="card w-25" style="margin-left:50px; opacity:0.9">
    <div class="card-header">
        <h3>Internal Server Error</h3>
    </div>
    <div class="card-body">
        <h5 class="card-text">Oh-uh...apparently you did something wrong</h5>
    </div>
</div>

