﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="card w-25" style="margin-left:50px; opacity:0.9">
    <div class="card-header">
        <h3>Not Found</h3>
    </div>
    <div class="card-body">
        <h5 class="card-text">Oh-uh...go back there's nothing here</h5>
    </div>
</div>
