﻿@using SAM.TouristAgency.Model.ViewModels.Order
@model IEnumerable<OrderVM>
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_DetailWithHeaderAndFooterLayout.cshtml";
}

<div class="container-fluid bg-light" style="min-height:520px">
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Account:</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">@ViewBag.Account.Email</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>My orders</h2>
            <div class="card-columns">
                @if (Model.Count() != 0)
                {
                    foreach (OrderVM order in Model)
                    {
                        <div class="shadow mb-5 bg-white rounded card border-dark ">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Amount: </strong>@order.Amount</p>
                                <p class="card-text"><strong>Cost: </strong>@order.Cost</p>
                            </div>
                            <div class="card-footer border-dark">
                                <a href="/Home/TourDetail?tourId=@order.TourId" class="btn btn-block btn-outline-warning">Tour Detail</a>

                                <a href="#" class="btn btn-block btn-outline-danger" onclick="CancelBooking(@order.OrderId)">Delete</a>    
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <h4>You have no orders!</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Cancel Book</h4>
                <input type="hidden" id="OrderId"/>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Cancel This Tour.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmCancel()">Confirm</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/userorder")
