﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    scroll-behavior: smooth;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.carousel-inner {
    height: auto;
}

    .carousel-inner img {
        /*transform: translateY(-19%);*/
        width: 100%;
        height:auto;
    }

#carouselExample {
    transform: translateY(-19%);
    width: 100%;
    height: auto;
}

    /*#carouselExample .carousel-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-shadow: 1px 1px 10px #000000;
    }*/

.img-container {
    background-size: cover;
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: #F50000;
    text-align: center;
}

    .img-container img {
        height: 100%;
        width: auto;
        max-width: 100%;
    }