﻿@model SAM.TouristAgency.Model.ViewModels.Hotel.HotelImageVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a href="#" class="btn btn-info my-2" onclick="AddNew()">Add New Hotel Image</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortName">Image</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortClass">Hotel</a></th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody id="HotelImageTable"></tbody>
    </table>

    <div id="paged" class="container my-5">
        <table>
            <tr>
                <td>
                    <select id="dropPageSize" class="form-control">
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                    <input type="button" class="btn btn-info" value="<" id="btnPre" />
                    <span><strong>Page</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <span><strong>Of</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <input type="button" class="btn btn-info" value=">" id="btnNext" />
                    <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                </td>
            </tr>
        </table>
    </div>


    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle">Add Hotel Image</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddOrEdit", "HotelImage", FormMethod.Post, new { area = "Admin", @id = "myForm", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name="ImageId" id="ImageId" value="0" />

                        <div>
                            <div class="form-group">
                                <label>Hotel</label>
                                <div>
                                    @Html.DropDownListFor(m => m.HotelId, new SelectList(ViewBag.HotelList, "HotelId", "Name"), "Select", new { @class = "form-control", @id = "DrpDown", required = "required" })
                                    @Html.ValidationMessageFor(model => model.HotelId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <div>
                                    <input type="file" class="form-control" name="UploadImage" required />
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Save" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Image</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/hotelimage")


