﻿
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="#" class="text-warning" style="text-decoration:none">Account name</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Tour name</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Message</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Date add</a></th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody id="CommentTable"></tbody>
    </table>

    <div id="paged" class="container my-5">
        <table>
            <tr>
                <td>
                    <select id="dropPageSize" class="form-control">
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                    <input type="button" class="btn btn-info" value="<" id="btnPre" />
                    <span><strong>Page</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <span><strong>Of</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <input type="button" class="btn btn-info" value=">" id="btnNext" />
                    <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Hotel Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="CommentId" />

                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/allComment")


