﻿@model SAM.TouristAgency.Model.ViewModels.Comment.CommentVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="#" class="text-warning" style="text-decoration:none">Account name</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Tour name</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Message</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Date add</a></th>
                <th>Action(Delete)</th>
            </tr>
        </thead>
        <tbody id="CommentTable"></tbody>
    </table>

    <div id="paged" class="container my-5">
        <table>
            <tr>
                <td>
                    <select id="dropPageSize" class="form-control">
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                    <input type="button" class="btn btn-info" value="<" id="btnPre" />
                    <span><strong>Page</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <span><strong>Of</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <input type="button" class="btn btn-info" value=">" id="btnNext" />
                    <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                </td>
            </tr>
        </table>
    </div>


    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "Comment", FormMethod.Post, new { @id = "myForm", area = "Admin" }))
                    {
                        <input type="hidden" name="CommentId" id="CommentId" />
                        <input type="hidden" name="AccountId" id="AccountId" />
                        <input type="hidden" name="TourId" id="TourId" />

                        <div>
                            <div class="form-group">
                                <label class="control-lable">Account</label>
                                <div class="">
                                    <input type="text" name="AccountName" id="AccountName" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-lable">Tour</label>
                                <div class="">
                                    <input type="text" name="TourName" id="TourName" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-lable">Message</label>
                                <div class="">
                                    <textarea name="Message" id="Message" class="form-control" readonly></textarea>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <input type="submit" value="Access" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Hotel Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/comment")
