﻿@model SAM.TouristAgency.Model.ViewModels.Hotel.HotelVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a href="#" class="btn btn-info my-2" onclick="AddNew()">Add New Hotel</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortName">Name ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortClass">Class ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortFood">Food ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none" id="sortClass">Capacity</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Geo Long</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Geo Lat</a></th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>
            </tr>
            <tr>
                <td><input type="text" placeholder="Name..." class="form-control" onkeyup="Search(this, 0)" style="width:100px" /></td>
                <td><input type="text" placeholder="Class..." class="form-control" onkeyup="Search(this, 1)" style="width:100px" /></td>
                <td><input type="text" placeholder="Food..." class="form-control" onkeyup="Search(this, 2)" style="width:100px" /></td>
                <td></td><td></td><td></td>
            </tr>
        </thead>
        <tbody id="HotelTable"></tbody>
    </table>

    <div id="paged" class="container my-5">
        <table>
            <tr>
                <td>
                    <select id="dropPageSize" class="form-control">
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                    <input type="button" class="btn btn-info" value="<" id="btnPre" />
                    <span><strong>Page</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <span><strong>Of</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <input type="button" class="btn btn-info" value=">" id="btnNext" />
                    <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                </td>
            </tr>
        </table>
    </div>


    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddOrEdit", "Hotel", FormMethod.Post, new { @id = "myForm", area = "Admin", onsubmit = "return SubmitForm(this)" }))
                    {
                        <input type="hidden" value="0" name="HotelId" id="HotelId" />

                        @Html.AntiForgeryToken()
                        <div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    <select class="form-control" name="Class" id="Class">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Food, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    <select name="Food" id="Food" class="form-control">
                                        <option value="RO">RO</option>
                                        <option value="BB">BB</option>
                                        <option value="HB">HB</option>
                                        <option value="FD">FD</option>
                                        <option value="AI">AI</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", @id = "Capacity" } })
                                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GeoLong, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.GeoLong, new { htmlAttributes = new { @class = "form-control", @id = "GeoLong" } })
                                    @Html.ValidationMessageFor(model => model.GeoLong, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GeoLat, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.GeoLat, new { htmlAttributes = new { @class = "form-control", @id = "GeoLat" } })
                                    @Html.ValidationMessageFor(model => model.GeoLat, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <input type="submit" value="Submit" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Hotel Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/hotel")