﻿@model SAM.TouristAgency.Model.ViewModels.Tour.TourVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a href="#" class="btn btn-info my-2" onclick="AddNew()">Add New Tour</a>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th><a href="#" class="text-warning" style="text-decoration:none">Image</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Name ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">DateStart ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Duration ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Cost ▼</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Country</a></th>
                <th><a href="#" class="text-warning" style="text-decoration:none">Hotel</a></th>
                <th>Action(Delete)</th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" placeholder="Name..." class="form-control" onkeyup="Search(this, 0)" style="width:100px" /></td>
                <td><input type="text" placeholder="DateStart..." class="form-control" onkeyup="Search(this, 1)" style="width:100px" /></td>
                <td><input type="text" placeholder="Duration..." class="form-control" onkeyup="Search(this, 2)" style="width:100px" /></td>
                <td><input type="text" placeholder="Cost..." class="form-control" onkeyup="Search(this, 3)" style="width:100px" /></td>
                <td><input type="text" placeholder="Country..." class="form-control" onkeyup="Search(this, 4)" style="width:100px" /></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="TourTable"></tbody>
    </table>

    <div id="paged" class="container my-5">
        <table>
            <tr>
                <td>
                    <select id="dropPageSize" class="form-control">
                        <option selected="selected">5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                    <input type="button" class="btn btn-info" value="<" id="btnPre" />
                    <span><strong>Page</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <span><strong>Of</strong></span>
                    <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                    <input type="button" class="btn btn-info" value=">" id="btnNext" />
                    <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                </td>
            </tr>
        </table>
    </div>


    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle">Create Tour Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Tour", FormMethod.Post, new { @id = "myForm", area = "Admin", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>

                            <input type="hidden" name="TourId" value="0" id="TourId" />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HotelId, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownListFor(model => model.HotelId, new SelectList(ViewBag.HotelList, "HotelId", "Name"), "Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HotelId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control", @id = "Class" } })
                                    @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @id = "Capacity" } })
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", @id = "Capacity" } })
                                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList), "Select", new { @class = "form-control", @id = "Country" })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Image</label>
                                <div>
                                    <input type="file" class="form-control" id="UploadImage" name="UploadImage" required />
                                    @Html.ValidationMessage("UploadImage", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <input type="submit" value="Submit" class="btn btn-block btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Tour Record</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/tour")


