﻿@model SAM.TouristAgency.Model.ViewModels.Hotel.HotelVM

@{
    ViewBag.Title = "HotelDetail";
    Layout = "~/Views/Shared/_DetailWithHeaderAndFooterLayout.cshtml";
}

@{
    bool flag = false;
}

<div class="bd-example">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner">
                    @if (Model.FlagImage)
                    {
                        foreach (var picture in ViewBag.HotelImageList)
                        {
                            if (!flag)
                            {
                                flag = true;
                                <div class="carousel-item active">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(picture.Image))" class="img-fluid" style="height:auto" alt="...">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(picture.Image))" class="img-fluid" style="height:auto" alt="...">
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="carousel-item active">
                            <img src="~/Content/Images/NoFoto.png" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img" id="img">
                </div>
                <div class="card-footer bg-light">
                    <a class="btn btn-warning" id="map">View on the map</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="card w-50">
            <div class="card-header">
                <h2 class="card-title">Description:</h2>
            </div>
            <div class="card-body">
                <input type="hidden" value="@Model.GeoLat" id="GeoLat" />
                <input type="hidden" value="@Model.GeoLong" id="GeoLong" />
                <h3>@Model.Class <strong class="text-warning">★</strong> <strong>@Model.Name</strong></h3>
                <p>@Model.Capacity hotel rooms</p>
                <h3>Food: @Model.Food</h3>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    let geoLat = $("#GeoLat").val();
    let geoLong = $("#GeoLong").val();

    geoLat = String(geoLat).replace(",", ".");
    geoLong = String(geoLong).replace(".", ",");

    geoLat = parseFloat(geoLat);
    geoLong = parseFloat(geoLong);

    let src = "https://static-maps.yandex.ru/1.x/?ll=" + geoLat + "," + geoLong + "&z=13&l=map";
    let href = "https://yandex.by/maps/157/minsk/?ll=" + geoLat + "," + geoLong + "&z=12";

    $("#img").attr("src", src);
    $("#map").attr("href", href);
</script>