﻿@model SAM.TouristAgency.Model.ViewModels.Hotel.HotelSearchVM
@{
    ViewBag.Title = "HotelSearch";
    Layout = "~/Views/Shared/_DetailWithHeaderAndFooterLayout.cshtml";
}

<div class="container-fluid bg-light" style="min-height:520px">
    <div class="row mt-3">
        <div class="col-md-3">
            <form>
                <div class="list-group">
                    <div class="form-group list-group-item">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" onkeyup="Search(this, 0)" />
                    </div>
                    <div class="form-group list-group-item">
                        <label class="control-label">Class</label>
                        <select class="form-control" name="Class" id="Class" onchange="Search(this, 1)">
                            <option selected disabled>Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group list-group-item">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Food, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                <select name="Food" id="Food" class="form-control" onchange="Search(this, 2)">
                                    <option selected disabled>Select</option>
                                    <option value="RO">RO</option>
                                    <option value="BB">BB</option>
                                    <option value="HB">HB</option>
                                    <option value="FD">FD</option>
                                    <option value="AI">AI</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="reset" class="btn btn-outline-danger btn-block" onclick="FirstPage(array)" value="Reset" />
            </form>
        </div>
        <div class="col-md-9">
            <div class="card-columns" id="HotelCard">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div id="paged" class="container my-5">
                <table>
                    <tr>
                        <td>
                            <input type="button" class="btn btn-info" value="<<" id="btnFirst" />
                            <input type="button" class="btn btn-info" value="<" id="btnPre" />
                            <span><strong>Page</strong></span>
                            <input type="text" class="btn btn-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                            <span><strong>Of</strong></span>
                            <input type="text" class="btn btn-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                            <input type="button" class="btn btn-info" value=">" id="btnNext" />
                            <input type="button" class="btn btn-info" value=">>" id="btnLast" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/userhotel")

