﻿@model SAM.TouristAgency.Model.ViewModels.Tour.TourSearchVM
@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container bg-light" style="min-height:520px">
    <div class="row mt-3">
        <div class="col-md-3 mt-3">
            <form>
                <div class="list-group">
                    <div class="form-group list-group-item">
                        <label class="control-label">Date Start</label>
                        <input type="text" placeholder="mm-dd-yyyy" name="DateStart" id="DateStart" class="form-control" onchange="Search(this, 1)" />
                    </div>
                    <div class="form-group list-group-item">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList), "Select", new { @class = "form-control", @id = "Country", onchange = "Search(this, 2)" })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group list-group-item">
                        <label class="control-label">Duration</label>
                        <input type="number" min="0" max="20" placeholder="Duration" id="Duration" name="Duration" class="form-control" onkeyup="Search(this, 3)" />
                    </div>
                    <div class="form-group list-group-item">
                        <label class="control-label">Cost</label>
                        <input type="number" min="0" max="1000000" placeholder="Cost" id="Cost" name="Cost" class="form-control" onkeyup="Search(this, 4)" />
                    </div>
                </div>
                <input type="reset" class="btn btn-outline-danger btn-block" onclick="FirstPage(array)" value="Reset" />
            </form>
        </div>
        <div class="col-md-9">
            <section id="TourDiv" class=" bg-white my-3"></section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <div id="paged" class="container my-5">
                <table>
                    <tr>
                        <td>
                            <input type="button" class="btn btn-outline-info" value="<<" id="btnFirst" />
                            <input type="button" class="btn btn-outline-info" value="<" id="btnPre" />
                            <span><strong>Page</strong></span>
                            <input type="text" class="btn btn-outline-warning" value="1" id="txbCurrentPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                            <span><strong>Of</strong></span>
                            <input type="text" class="btn btn-outline-warning" value="1" id="txbTotalPage" style="width:50px;text-align:center;font-weight:bold;color:black" disabled />
                            <input type="button" class="btn btn-outline-info" value=">" id="btnNext" />
                            <input type="button" class="btn btn-outline-info" value=">>" id="btnLast" />
                        </td>
                        <td>
                            <select id="dropPageSize" class="form-control">
                                <option selected="selected">5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/usertour")
