﻿@model SAM.TouristAgency.Model.ViewModels.Tour.TourVM
@{
    ViewBag.Title = "TourDetail";
    Layout = "~/Views/Shared/_DetailWithHeaderAndFooterLayout.cshtml";
}

<div class="bd-example">
    <div class="row">
        <div class="col-md-7">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" class="img-fluid d-block w-100" alt="...">
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-success mt-2" href="/User/Order/Booking?tourId=@Model.TourId">Book tour</a>
            }
            else
            {
                <h5 class="mt-3 text-warning">Book a tour can only authorized users</h5>
            }
        </div>
        <div class="col-md-5">
            <div class="row my-1">
                <div class="card w-100">
                    <div class="card-header">
                        <h2 class="card-title">Description:</h2>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-outline-primary" href="#" onclick="AddNew()">Add Comment</a>
                        }
                        else
                        {
                            <p class="text-warning">Comments can be posted only by registered users</p>
                        }
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">@Model.Name</h2>
                        <p><strong>Date start:</strong> @Model.DateStart.ToShortDateString()</p>
                        <p><strong>Country:</strong> @Model.Country</p>
                        <p><strong>Duration:</strong> @Model.Duration days</p>
                        <h3>Cost: @Model.Cost$</h3>
                        <h4>Description: @Model.Description</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row my-3">
        <div class="card mb-3 w-50">
            <div class="card-header">
                <h2>Hotel description:</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">@Model.HotelName</h3>
                <p class="card-text"><strong>Capacity:</strong> @Model.HotelCapacity</p>
                <p class="card-text"><strong>Class:</strong> @Model.HotelClass <strong class="text-warning">★</strong></p>
                <p class="card-text"><strong>Food:</strong> @Model.HotelFood</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row my-3">
        <h2 class="text-center">Commets for tour</h2>

        @if (ViewBag.CommentList != null)
        {
            foreach (var c in ViewBag.CommentList)
            {
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="card-body">
                            <h5 class="card-title">@c.AccountName</h5>
                            <p class="card-text">@c.Message</p>
                            <p class="card-text"><small class="text-muted">@c.DateAdded</small></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="MyModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle"></h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { @id = "myForm", area = "Admin" }))
                {
                    <input type="hidden" value="0" name="CommentId" id="CommentId" />
                    <input type="hidden" value="0" name="AccountId" id="AccountId" />
                    <input type="hidden" value="@Model.TourId" name="TourId" id="TourId" />

                    @Html.AntiForgeryToken()
                    <div>
                        <div class="form-group">
                            <label class="control-lable">Message</label>
                            <div class="">
                                <textarea name="Message" id="Message" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <input type="button" class="btn btn-block btn-success" onclick="AddComment(this.form)" value="Send">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/usertour")
@Scripts.Render("~/bundles/usercomment")
