﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/Admin/Hotel/Index">
                    <img src="~/Content/Images/logo.jpg" width="30" height="30" alt="">
                    Travel Agency
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div>
                    <a href="/User/Account/Logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg-light" style="min-height:520px">
        <div class="row  mt-3">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/Admin/Hotel/Index" class="list-group-item list-group-item-action">Hotels</a>
                    <a href="/Admin/HotelImage/Index" class="list-group-item list-group-item-action">Hotel Images</a>               
                    <a href="/Admin/Tour/Index" class="list-group-item list-group-item-action">Tours</a>
                    <a href="/Admin/Comment/Index" class="list-group-item list-group-item-action">Comments Users</a>
                    <a href="/Admin/Comment/GetAll" class="list-group-item list-group-item-action">All Comments</a>
                </div>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer id="footer" class="page-footer font-small unique-color-dark align-bottom">

        <div style="background-color: #6351ce;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">TouristAgency</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        The best travel agency that provides the best tours and hotels at the best prices.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://bootstrap-4.ru/">Bootstrap</a>
                    </p>
                    <p>
                        <a href="https://metanit.com/sharp/general.php">C#</a>
                    </p>
                    <p>
                        <a href="https://learn.javascript.ru/">JavaScript</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Belarus, Minsk
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> malkinlol1999@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +375(29) 299-67-40
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
