﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Content/Images/logo.jpg" width="30" height="30" alt="">
                    Travel Agency
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTourLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tours
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTourLink">
                            <a class="dropdown-item" href="/Home/Index#Search">Search</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHotelLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hotels
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownHotelLink">
                            <a class="dropdown-item" href="/Home/HotelSearch">Search</a>
                        </div>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/User/Account/MyProfile" class="btn btn-outline-success my-2 my-sm-0" style="margin-right:5px">Profile</a>
                        <a href="/User/Account/Logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="LoginFormShow()" style="margin-right:5px">Login</a>
                        <a href="#" class="btn btn-outline-primary my-2 my-sm-0" onclick="RegisterFormShow()">Registration</a>
                    }
                </form>
            </div>
        </div>
    </nav>

    <main id="Search">
        <div class="container my-5" style="margin-top:50px">
            @RenderBody()
        </div>
    </main>



    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authorization</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        @using (Html.BeginForm("Login", "Account", new { area = "User", @id = "LoginForm" }))
                        {
                            <div class="alert alert-danger" role="alert" id="errorDivL"></div>
                            <div class="form-group">
                                <label><strong>Email address</strong></label>
                                <input type="email" class="form-control" name="LoginEmail" id="LoginEmail" aria-describedby="emailHelpL" placeholder="Email" required />
                                <small id="emailHelpL" class="form-text text-muted">Enter you email</small>
                            </div>
                            <div class="form-group">
                                <label><strong>Password</strong></label>
                                <input type="password" class="form-control" name="LoginPassword" id="LoginPassword" aria-describedby="passwordHelpL" placeholder="Password" required />
                                <small id="passwordHelpL" class="form-text text-muted">The length of the Password must not be less than 6 characters.</small>
                            </div>
                            <div class="form-group" style="margin-top:5px">
                                <input type="button" class="btn btn-block btn-success" onclick="validateLogin(this.form)" value="Send">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registration</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        @using (Html.BeginForm("Registration", "Account", new { area = "User", @id = "RegisterForm" }))
                        {
                            <div class="alert alert-danger" role="alert" id="errorDivR"></div>
                            <div class="form-group">
                                <label><strong>Email address</strong></label>
                                <input type="email" class="form-control" name="RegisterEmail" id="RegisterEmail" aria-describedby="emailHelpR" placeholder="Email" required />
                                <small id="emailHelpL" class="form-text text-muted">Enter you email</small>
                            </div>
                            <div class="form-group">
                                <label><strong>Password</strong></label>
                                <input type="password" class="form-control" name="RegisterPassowrd" id="RegisterPassowrd" aria-describedby="passwordHelpR" placeholder="Password" required />
                                <small id="passwordHelpL" class="form-text text-muted">The length of the Password must not be less than 6 characters.</small>
                            </div>
                            <div class="form-group">
                                <label><strong>Confirm Password</strong></label>
                                <input type="password" class="form-control" name="RegisterConfirmPassowrd" id="RegisterConfirmPassowrd" aria-describedby="passwordHelpR" placeholder="Confirm Password" required />
                                <small id="passwordHelpL" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <div class="text-center my-2">
                                    <img src='@Url.Action("Captcha", "Account", new { area = "User"})' class="rounded card-img-" alt='captcha' />
                                </div>
                                <input type="tel" class="form-control" name="Captcha" id="Captcha" aria-describedby="Captcha" placeholder="Captcha" required />
                            </div>
                            <div class="form-group" style="margin-top:5px">
                                <input type="button" class="btn btn-block btn-success" onclick="validateRegister(this.form)" value="Send">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="page-footer font-small unique-color-dark align-bottom">

        <div style="background-color: #6351ce;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">TouristAgency</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        The best travel agency that provides the best tours and hotels at the best prices.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://bootstrap-4.ru/">Bootstrap</a>
                    </p>
                    <p>
                        <a href="https://metanit.com/sharp/general.php">C#</a>
                    </p>
                    <p>
                        <a href="https://learn.javascript.ru/">JavaScript</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Belarus, Minsk
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> malkinlol1999@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +375(29) 299-67-40
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/MyScripts/LoginAndRegistration.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
