﻿@model SAM.TouristAgency.Model.ViewModels.Order.BookingVM
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_DetailWithHeaderAndFooterLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }


        @using (Html.BeginForm("Booking", "Order", FormMethod.Post, new { area = "User" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" value="@ViewBag.Tour.TourId" name="TourId" id="TourId" />

            <div class="form-group">
                <label class="control-label">Amount</label>
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-auto", min = "1", value = "1" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Surname, Name, Patrpnymic</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-auto", placeholder = "Ivanov Ivan Ivanovich" } })
                <small>This field is optional</small>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Passport series and number BLR</label>
                        @Html.EditorFor(model => model.Passport, new { htmlAttributes = new { @class = "form-control col-auto", placeholder = "BM XXXXXXX", maxlength = "9" } })
                        @Html.ValidationMessageFor(model => model.Passport, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">When issued</label>
                        @Html.EditorFor(model => model.DateIssued, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.DateIssued, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-check my-4">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    I agree with the processing of personal data
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Credit Card</label>
                <input type="text" class="form-control col-auto" disabled placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="16" name="CreditCard" id="CreditCard" />
                @Html.ValidationMessageFor(model => model.CreditCard, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Book" id="Book" disabled class="col-auto btn btn-block btn-outline-success" />
        }
    </div>
    <div class="col-md-6">
        <div class="card w-100">
            <div class="card-header">
                <h2 class="card-title">Description:</h2>
            </div>
            <div class="card-body">
                <h2 class="text-center">@ViewBag.Tour.Name</h2>
                <p><strong>Date start:</strong> @ViewBag.Tour.DateStart.ToShortDateString()</p>
                <p><strong>Country:</strong> @ViewBag.Tour.Country</p>
                <p><strong>Hotel capacity:</strong> @ViewBag.Tour.HotelCapacity</p>
                <p><strong>Duration:</strong> @ViewBag.Tour.Duration days</p>
                <h3>Cost: @ViewBag.Tour.Cost$</h3>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/MyScripts/User/Order.js"></script>